.flot_filter_top_productPg .block_itm{
	border-left: 1px solid #d6d6d6;
}
.flot_filter_top_productPg .block_itm.filter_pagein2 {
    border-right: 1px solid #d6d6d6;
}
.lists_product_data .items .picture{
    max-width: 316px;
}

/*----------------- Responsive ---------------------*/
@media (max-width: 1320px){

	.container{
		max-width: 100%; width: auto;
		padding: 0 15px;
	}
	.block_bottom_home .container{
		padding: 0;
	}
	body{ width: 100%; overflow-x: hidden; }
	body, html{ height: auto; }
	.tops_footer{
		padding-left: 3%; padding-right: 3%;
	}
	.lgo_web_header{
		/*max-width: 250px;*/
		padding-right: 3rem
	}
	.taglineshdr_lefts.padding-top-20{ padding-top: 15px; }

}
@media (max-width: 1280px){

	.wrap-slide .camera_wrap{
		/*max-height: 454px !important;*/
	}

	.navbar{
		margin: 0;
	}

	.navbar-default{
		border: none;
		border-radius: 0px;
	}

	.navbar-default .navbar-brand{
		padding: 0px;
		/*padding-left: 20px;
		padding-top: 5px;*/
	}

	.lists_banner_home_dt.new_picture .col-md-3:first-child{ padding-left: 0; }
	.lists_banner_home_dt.new_picture .col-md-3:last-child{ padding-right: 0; }
	.lists_banner_home_dt.new_picture .items{
		padding: 0 0.7em;
	}
	.lists_product_data .items{
		min-height: inherit;
		width: 96.5%;
	}
	.lists_product_data .items .info.description{
		/*min-height: 146px;*/
	}
	

}
/* Large desktop */
@media (max-width : 1135px){

	.lists_product_data .items{
		width: auto;
	}
	
	body { 
		width: 100%;
	}
	.container{
		width: 100%;
		/*border: none;*/
	}

	.navbar{
		margin: 0;
	}

	.navbar-default{
		border: none;
		border-radius: 0px;
	}
	.lgo_web_header{
		max-width: 180px; padding-top: 10px;
	}
	.taglineshdr_lefts{
		max-width: 115px;
	}
	header.head .rights_header .b_search form .form-group input{
		width: 300px;
	}
	.outers_fcs_wrapper .backs_shadow_bottom_fn{
		width: 100%; background-size: 100% auto;
	}
	.middles_wrapper_cont{
		min-height: inherit; padding-bottom: 0.5em;
	}
	.lists_banner_home_dt.new_picture .items{
		height: auto;
	}
	section.block_bottom_home .insides .btm_tx p{
		font-size: 16px;
	}
	
	section.block_bottom_home .w247{
		width: 200px;
	}
	section.block_bottom_home .insides .tops_tx .d-inline.padding-right-15{
		max-width: 150px;
	}
	section.block_bottom_home .insides .btm_tx .bxs_form{ padding-top: 5px; }
	section.block_bottom_home .insides .btm_tx .bxs_form form .form-group input{
		width: 200px;
	}
	section.block_bottom_home{ min-height: inherit; }
	section.block_bottom_home .insides .bx_text.social a,
	section.block_bottom_home .insides .bx_text.social span{ font-size: 16px; }
	section.block_bottom_home .insides .bx_text.social a i.fa{ font-size: 23px; margin-right: 5px; }
	section.block_bottom_home .insides .picts{
		max-width: 175px;
		left: 15px;
	}
	.lgo_footers_wb{ max-width: 225px; }
	section.blocks_middle_about1.picts_about_1{
		background-size: 100% auto;
		background-position-x: 300px;
	}
	section.blocks_middle_about1 .pl60{
		padding: 0 20px;
	}
	.subpage.defaults_static.def_productDetail .bloc_detail_products .rights_cont .bloctn_detailtop .bloc1 h2,
	.subpage.defaults_static .top_title_page h2.title_pg{
		font-size: 25px;
	}
	.subpage.defaults_static.def_productDetail .bloc_detail_products .rights_cont .bloctn_detailtop .bloc1 h5{
		font-size: 18px;
	}
	header.head .top-menu ul li{
		float: none; display: inline-block;
	}

}

@media (max-width : 1002px) { 
	.container{
		width: 100%;
		/*border: none;*/
		padding: 0 15px;
	}
	.navbar{
		margin: 0;
	}

	.navbar-toggle{

	}

	.middles_wrapper_cont.tops_home{
		background: none;
		padding-top: 15px;
		background-color: #f4f4f4;
	}
	.banner_full_pic.middle_thome img{
		width: 100%;
	}
	section.block_bottom_home .insides .picts {
	    position: relative;
	    bottom: inherit;
	    left: inherit;
	}
	section.block_bottom_home .insides .picts{ display: none; }

}

@media (max-width : 991px) { 
	.navbar-default {
		background-color: #000;
		border-color: #000;
	}
	.navbar-default .navbar-brand{
		margin: 0px;
	}
	.subpage.defaults_static.def_productDetail .bloc_detail_products .rights_cont .bloctn_detailtop{
		padding-bottom: 2.5em;
	}

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    header.head .navbar-default{
    	background-color: #fff;
    	border-color: #fff;
    	padding: 0px 0;
    }
    .navbar-default .navbar-brand{
    	// max-width: 155px;
    	padding-top: 12px;
    	padding-bottom: 12px;
    	padding-left: 15px;
    }
    .navbar-default .navbar-brand img{ max-width: 155px; display: inline-block; vertical-align: middle; position: relative; top: -3px; }
    .navbar-default .navbar-brand{ font-size: 13px; color: #000; }
    .navbar-default .navbar-toggle{
    	border-color: transparent;
    	border-radius: 0px;
    	margin-top: 13px;
    }
    .navbar-default .navbar-toggle:hover, 
    .navbar-default .navbar-toggle:focus {
	    background-color: rgba(204, 204, 204, 0.2);
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}
	
	.navbar-nav.navbar-right:last-child{
		margin-right: 0;
	}
	header.head .navbar-nav{}
	header.head .navbar-nav li{
		border-bottom: 1px solid #ccc;
	}

	header.head .navbar-nav li a{
		color: #919191;
		font-size: 14px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    color: #555;
	    background-color: rgba(231, 231, 231, 0.15);
	}
	header.head .navbar-nav li:hover > .dropdown-menu{
		display: block;
	}
	.navbar-nav > li > .dropdown-menu{
		display: none;
		position: relative;
		top: inherit;
		left: inherit;
		right: inherit;
		float: none;
		box-shadow: none;
		border: 0px;
		min-width: inherit;
		border-radius: 0px;
	}
	.navbar-nav > li > .dropdown-menu > li{
		border-top: 1px solid #ccc;
		border-bottom: 0;
		padding: 4px 0;
	}
	.navbar-nav > li > .dropdown-menu > li > a{
		color: #919191;
		font-size: 13px;
		font-weight: 500;
		text-decoration: none;
		text-transform: uppercase;
	}
	header.head .navbar-collapse{
		max-height: inherit;
	}
	footer.foot .t_copyrights, footer.foot .t_copyrights2{
		font-size: 13px;
	}

	.left_cont_pictures{}
	.left_cont_pictures .big{}
	.left_cont_pictures .big img{
		width: 100%;
	}
	.left_cont_pictures .thumbs{
		margin-bottom: 2em;
	}
	.left_cont_pictures .thumbs img{
		width: 100%;
	}
	.list_howto_buys_c .items{
		margin-bottom: 1.8em;
	}

	section.blocks_middle_about1.picts_about_1{
		background: none;
		background-color: #e4e4e4; text-align: center;
	}
	section.blocks_middle_about1.picts_about_1 .height-35{ height: 0; }
	section.blocks_bottom_about .insides p{
		font-size: 16px;
	}
	section.blocks_bottom_about .insides .row .col-md-6{
		padding-bottom: 1.8em; margin-bottom: 1.9em;
	}
	section.blocks_bottom_about .insides .row .col-md-6:first-child{
		border-right: 0;
		border-bottom: 1px solid #fff;
		min-height: inherit;
	}
	section.block_bottom_home .insides .tops_tx .d-inline.padding-right-15{
		display: none;
	}
	.blocks_subpage_banner{
		display: table;
		min-height: 400px; height: auto;
		padding: 0 15px;
	}
	.blocks_subpage_banner .blocks_text h3.sub_title_p{
		font-size: 23px;
	}
	.blocks_subpage_banner .blocks_text p{
		font-size: 16px;
	}
	.subpage.defaults_static .top_title_page h2.title_pg{
		font-size: 23px;
	}
	.outers_back_headers{
		border-bottom: 1px solid #ccc;
	}

}

@media (max-width: 979px) {
	
	.outers_blocks_top_footers .insides .conts_left .bxs_form form .form-group input{
		width: 110px; border-radius: 0px;
		font-size: 11px;
	}
	.banner_home1 .list_bannericon_home .items .tops .names{
		font-size: 13px;
	}
	.banner_home1 .list_bannericon_home .items p{
		font-size: 10px;
	}
	.insides_middleDefaultpages .tops_filters_whitProduct_top, .insides_middleProducts .tops_filters_whitProduct_top{
		height: auto;
		padding-bottom: 10px;
	}

	.insides_middleDefaultpages .tops_filters_whitProduct_top .sortings_tproduct_top span,
	.insides_middleDefaultpages .tops_filters_whitProduct_top .sortings_tproduct_top a, 
	.insides_middleProducts .tops_filters_whitProduct_top .sortings_tproduct_top a{
		font-size: 13px;
	}
	.insides_middleProducts .tops_filters_whitProduct_top .breadcrumbs ol.breadcrumb li a,
	.insides_middleProducts .tops_filters_whitProduct_top .breadcrumbs ol.breadcrumb li{
		font-size: 13px;
	}
	.conts_product_details .middles .details_descriptions .height-30{
		height: 15px;
	}
	.outers_listing_newshome .items .desc .titles{
		font-size: 14px;
	}
	section.block_bottom_home{
		max-height: inherit;
		padding-bottom: 2.2em;
		text-align: center;
	}
	section.block_bottom_home .w247{
		margin: 0 auto; float: none; display: block;
	}
	section.block_bottom_home .insides .btm_tx .bxs_form form .form-group input{
		width: 100%;
	}
	.lgo_footers_wb{ padding-bottom: 2em;}
	.lgo_footers_wb img{ display: block; text-align: center; margin: 0 auto; }
	.tops_footer p{ font-size: 11px; }
	footer.foot .insides_footer{ text-align: center; }
	.bloc_aldoHeader{ padding-bottom: 15px; }
	.bloc_aldoHeader span,
	.bloc_aldoHeader{
		font-size: 13px; font-weight: 400; color: rgba(0,0,0, 0.7);
	}
	.bloc_aldoHeader a{ text-decoration: none; }
	.bloc_aldoHeader .boxs_bCart a{}
	.bloc_aldoHeader .boxs_bCart i.fa{ color: rgba(0,0,0, 0.7); }
	section.block_bottom_home .padding-top-15{ padding-top: 0; }
	.outers_listing_news.defaults_t .items{
		max-width: inherit;
	}
	.picture_bigImage img,
	.outers_listing_news.defaults_t .items img{
		width: 100%;
	}
	.contacts_block_wrap .maw410{
		max-width: inherit;
	}
	.contacts_block_wrap .rights_cont{ padding-left: 0; }
	.box-form.tl-contact-form form .form-group textarea,
	.box-form.tl-contact-form form .form-group input{
		width: 100%;
	}
	.lgo_footers_wb{
		display: block;
		margin: 0 auto; text-align: center;
	}
	.lists_subCategory_dataLanding .items{
		/*margin-left: auto;
		margin-right: auto;*/
	}
	.flot_filter_top_productPg,
	.subpage.defaults_static .top_title_page h2.title_pg{
		text-align: center;
	}
	.flot_filter_top_productPg{
		padding-top: 20px;
	}
	.flot_filter_top_productPg .block_itm{
		padding: 5px 0;
		border: 0px;
		display: block; min-height: inherit;
	}
	.flot_filter_top_productPg .block_itm .form-group{ margin-bottom: 0; }
	.flot_filter_top_productPg .block_itm.filter_pagein2{
		border-right: 0;
	}
	.flot_filter_top_productPg .block_itm.filter_pagein2, .flot_filter_top_productPg .block_itm.filter_pagin{
		padding-top: 6px;
	}
	.flot_filter_top_productPg .block_itm.filter_pagein2{
		padding-bottom: 18px;
	}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	header.head{
		height: auto;
	}
	.navbar-default .navbar-nav > li > a {

	}

}

@media (min-width: 769px){
	
	.views_dekstop{
		display: block !important;
	}
	.views_mobile{
		display: none !important;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.views_dekstop{
		display: none !important;
	}
	.views_mobile{
		display: block !important;
	}

	header.head{
		height: auto;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav > li{
		float: none;
	}

	.outers_fcs_wrapper .carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		top: inherit; bottom: inherit;
		width: 100%;
	}
	.outers_fcs_wrapper .blocks_ts_fcs{
		width: 100%; height: auto;
		padding: 15px 20px 15px;
	}
	.outers_fcs_wrapper{
		box-shadow: none; max-height: inherit;
	}
	.outers_fcs_wrapper .blocks_ts_fcs p{
		font-size: 18px;
	}

	section.block_bottom_home .w200{
		width: auto;
	}
	section.block_bottom_home .insides .picts{
		width: auto; height: auto;
	}
	section.block_bottom_home .insides .picts img{
		display: block; text-align: center; margin: 0 auto;
	}
	section.block_bottom_home .insides .btm_tx p {
		padding-bottom: 10px;
		font-size: 13px;
	}

	.lists_banner_home_dt.new_picture .pict img{ width: 100%; }
	.lists_banner_home_dt.new_picture .pict{
		padding-bottom: 0.8em;
	}
	.lists_product_data .items{
		margin: 0 0.5rem 10px;
		display: block;
	}
	section.block_bottom_home .prelatife{
		padding-left: 15px; padding-right: 15px;
	}
	section.block_bottom_home .insides .bx_text.social{
		line-height: 1.2; font-size: 10px;
	}
	section.block_bottom_home .insides .bx_text.social a, 
	section.block_bottom_home .insides .bx_text.social span{
		font-size: 15px;
		display: block;
	}
	section.block_bottom_home .insides .tops_tx .d-inline.padding-right-15{
		display: none;
	}
	footer.foot .insides_footer ul{
		margin-bottom: 20px;
	}
	.tops_footer p{
		font-size: 9px;
	}
	footer.foot .backs_blue p.t-copyrights{
		font-size: 9px;
	}
	section.blocks_middle_about1 .pl60{ padding: 0px; }
	section.blocks_bottom_about{ padding-bottom: 42em; }
	.subpage.defaults_static .top_title_page h2.title_pg{
		font-size: 20px;
	}
	.subpage.defaults_static .top_title_page .text-right,
	.subpage.defaults_static .top_title_page{
		text-align: center;
	}
	.subpage.defaults_static .top_title_page .text-right{
		padding-bottom: 0.5em;
	}
	.pLocationstore.middles_pgStatic form select{
		margin: 0 auto;
	}
	.subpage.defaults_static.def_productDetail .bloc_detail_products .rights_cont .bloctn_detailtop .bloc3.boxs_formn_buying form .form-group input{
		margin: 0 auto; display: block;
	}
	.left.nm-descr.margin-left-20{
		margin-left: 0; padding-top: 10px;
	}
	.subpage.defaults_static.def_productDetail .bloc_detail_products .detc_picture_big{
		min-height: inherit;
		padding-top: 2.5em; padding-bottom: 2.5em;
	}
	section.default_sc.blocks_home2 .block_product_data_wrap .top{
		height: auto;
		padding: 1em;
	}
	.subpage.defaults_static .middle.inside_content{
		padding-bottom: 2em;
	}

	section.block_bottom_home .insides .bx_text.social span{
		display: inline-block;
	}

	section.block_bottom_home .insides .bx_text.social span img{
		margin: 0px;
		display: inline-block;
		margin-right: 5px;
		margin-left: 0;
		width: 22px !important;
	}

	.blocks_tofilter_ft{
		padding-bottom: 2rem;
	}
	.blocks_tofilter_ft select{
		border-radius: 0px;
	}

	section.block_bottom_home .insides .bx_text.social span.padding-right-15{
		padding-right: 0 !important;
		padding-bottom: 15px !important;
	}

	.navbar-nav>li>a {
	    padding-top: 7px;
	    padding-bottom: 7px;
	}
	header.head .navbar-nav li a{
		font-size: 13px;
	}
	.navbar-default .navbar-toggle{
		padding-left: 0px;
		padding-right: 0px;
	}
	header.head .navbar-nav{
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus {
	    background-color: rgba(204, 204, 204, 0);
	}
	.bloc_aldoHeader span, 
	.bloc_aldoHeader{
		font-size: 12px;
	}

	section.block_bottom_home .insides .tops_tx ul li{
		display: block;
		text-align: left;
		padding-left: 0; padding-right: 0;
		font-size: 15px;
	}

	section.block_bottom_home .insides .btm_tx{
		padding-top: 1rem;
	}
	.tops_footer p {
	    font-size: 8px;
	}

	section.default_sc.blocks_home2 .block_product_data_wrap .top{
		margin-bottom: 20px;
	}
	section.default_sc.blocks_home2 .block_product_data_wrap .top h6{
		font-size: 17px;
	}

	.lists_product_data .items .info.description {
	    min-height: 95px;
	}
	.lists_product_data .items .info.description p{
		font-size: 14px;
	}
	/*.lists_product_data .items .info.description .block_price span.price_trough*/
	.lists_product_data .items .info.description .block_price span.bottom_priceblack
	{
		display: none;
	}
	.lists_product_data .items .info.description .block_price span b, 
	.lists_product_data .items .info.description .block_price span strong{
		font-size: 14px;
	}

	.lists_product_data .items .info.description .block_price span.price_trough{
		display: none;
		visibility: hidden;
	}
	.lists_product_data .items .info.description .block_price span{
		margin-top: 0.5rem;
	}
	.lists_product_data .items .info.description p{
		overflow: hidden;
	}
	
	
	.views_mobile.bx_text.social2 ul,
	.views_mobile.bx_text.social2 .blocks_dn_widths,
	.views_mobile.bx_text.social2{
	    text-align: center;
	}
	.views_mobile.bx_text.social2 ul li{
	    display:inline-block;
	    text-align: center;
	}
	.views_mobile.bx_text.social2 ul li span img{
        max-width: 16px !important;
        position: relative;
        top: -2px;
	}

	.outs_breadcrumbs nav ol.breadcrumb li.breadcrumb-item, 
	.outs_breadcrumbs nav ol.breadcrumb li.breadcrumb-item a{
		font-size: 9px;
	}
	.breadcrumb>li+li:before {
	    padding: 0 2px;
	}

	.subpage.defaults_static.def_productDetail .top_title_page a.bloc_backProduct_list{
		padding: 0.7rem 0;
		font-size: 12px;
	}
	.subpage.defaults_static.def_productDetail .top_title_page a.bloc_backProduct_list i.fa{
		font-size: 11px;
	}
	

}

.owl-theme .owl-controls .owl-page span.owl-numbers{
	color: #000 !important;
}
/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}