.mt-0{ margin-top: 0; }
.mb-0{ margin-bottom: 0; }
.pt-0{ padding-top: 0; }
.pb-0{ padding-bottom: 0; }

.pt-1{ 
	padding-top: 0.3rem; 
}
.pt-2{ 
	padding-top: 0.5rem; 
}
.pt-3{ 
	padding-top: 0.75rem; 
}
.pt-4{ 
	padding-top: 1rem; 
}
.pb-1{ 
	padding-bottom: 0.3rem; 
}
.pb-2{ 
	padding-bottom: 0.5rem; 
}
.pb-3{ 
	padding-bottom: 0.75rem; 
}
.pb-4{ 
	padding-bottom: 1rem; 
}


.px-1{ 
	padding-left: 0.5rem; 
	padding-right: 0.5rem;
}
.px-2{ 
	padding-left: 0.75rem; 
	padding-right: 0.75rem;
}
.px-3{ 
	padding-left: 1rem; 
	padding-right: 1rem;
}
.px-4{ 
	padding-left: 1.5rem; 
	padding-right: 1.5rem;
}
.px-5{ 
	padding-left: 3rem; 
	padding-right: 3rem;
}

.py-1{ 
	padding-top: 0.5rem; 
	padding-bottom: 0.5rem;
}
.py-2{ 
	padding-top: 0.75rem; 
	padding-bottom: 0.75rem;
}
.py-3{ 
	padding-top: 1rem; 
	padding-bottom: 1rem;
}
.py-4{ 
	padding-top: 1.5rem; 
	padding-bottom: 1.5rem;
}
.py-5{ 
	padding-top: 3rem; 
	padding-bottom: 3rem;
}

.bg-dark{
	background-color: #000;
}

.back-white{
	background-color: #fff !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

// start Page Home

// start section block home 1
// end section block home 1

// start section block home 2
.social_media.boc_bottom.text-center {
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
	background: url('../images/new/icon-nav-toDown.png') no-repeat;
	border-color: transparent !important;
	border: 0;
	border-width: 0px !important; 
	width: 25px !important;
	height: 23px !important;
	margin-left: -45px !important;
	margin-top: 4px !important;
}
.pLocationstore.middles_pgStatic form .form-group span{
	font-size: 18px;
}
.box_filter_location .select2-container--default .select2-selection--single{
	border-width: 3px !important;
}

.line_sparator{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000000;
}//end line_sparator
.block_section_home_2{
	.category{
		.items{
			.title{
				h2{
					font-size: 30px;
					color: #f45303;
					font-weight: bold;
					font-family: @font_set;
				}
			}//end title
			
			.content_category{
				.info{
					h4{
						font-size: 15px;
						font-weight: bold;
						font-family: @font_set;
						color: #201e1e;
					}
				}//end info
			}//end content_category

		}//end items
	}//end categoty
}
// end section block home 2
.block_data_thum_products{
	ul{
		li{
			vertical-align: top;
		}
	}
	.list-inline-item:not(:last-child) {
	    margin-right: 0rem;
	}
	.items{
		width: 175px;
		margin: 0 auto;
		vertical-align: top;
		text-align: center;
		min-height: 175px;
		margin-bottom: 1rem;
		.pic{}
		.info{
			max-width: 145px;
			margin: 0 auto;
			span{
				font-size: 17px;
				font-weight: bold;
				font-family: @font_set;
				color: #201e1e;
				text-transform: uppercase;
				letter-spacing: 1px;
			    display: block;
			    line-height: 1.25;
			}
		}//end info
	}//end items
}//block_data_thum_product


.margin-15{
	margin: 0;
}

// start section block home 3
.block_section_home_3{
	width: 100%;
	height: auto;
	min-height: 226px;
	.boxed{
		background-color: #f45302;
		width: 100%;
		height: auto;
		padding: 2rem 0;
		min-height: 203px;
		.boxed_item{
			p, h3, span{
				font-family: @font_set;
				text-transform: uppercase;
				margin: 0;
				display: block;
				letter-spacing: 1px;
			}
			p, h3{
				padding-bottom: 0.3rem;
			}
			p{
				font-size: 20px;
				color: #fde3e0;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			h3{
				font-size: 40px;
				font-weight: 700;
				color: #ffffff;
			}
			span{
				font-size: 20px;
				color: #ffffff;
				text-transform: none;
				font-weight: 700;
			}
		}
	}
}
// end section block home 3

// start section block home 4
.block_section_home_4{
	min-height: 208px;
	height: auto;
	background-color: #ecedee;
	padding-top: 30px;
	.col-md-6{
		min-height: 152px;
	}
	.call_me{
		.descs{
			h3{
				margin-top: 0;
				font-weight: bold;
				font-family: @font_set;
				font-size: 28px;
			}
			span{
				font-size: 26px;
				color: #000000;
				font-weight: bold;
				font-family: @font_set;
				a{
					color: #000000;
					font-weight: 700;
				}
				display: block;
				margin: 0;
				line-height: 1.4;
			}
		}
	}
}

.social_media.boc_bottom{
	.row{
		display: flex;
	}
}
.justify-content-center {
	-webkit-box-pack: center!important;
	-ms-flex-pack: center!important;
	justify-content: center!important;
}
// end section block home 4

// start  footer
.foot{
	height: auto;
	min-height: 278px;
	.tops_footer{
		.items{
			.category{
				h3, h4{
					font-size: 24px;
					color: #ffffff;
					font-family: @font_set;
					font-weight: bold;
					text-transform: uppercase;
					margin: 0;
				}
				.item_category{
					ul{
						list-style: none;
						margin: 0;
						padding: 0;
					}
					li a{
						text-decoration: none;
						font-size: 16px;
						color: #fcccb4;
						font-family: @font_set;
						text-transform: uppercase;
					}
				}//end item_category
			}//end category
			.login_register{
				h4{
					font-size: 24px;
					color: #fff;
					font-weight: bold;
					font-family: @font_set;
					margin: 0;
				}
				span a{
					font-size: 17px;
					color: #ffffff;
					font-weight: 400;
					font-family: @font_set;
					text-decoration: none;
				}
			}
		}//end items
	}//end top_footer
	.back_orange{
		background-color: #f45302;
	}//end back_orange
	.bottom_footer{
		min-height: 36px;
		height: auto;
		.t-copyrights{
			p{
				font-size: 13px;
				color: #ffffff;
				font-weight: 400;
				font-family: "Lato", sans-serif;
			}
		}
	}
}
//end Footer 

.boxeds_image_cen{
	 img{
	 	// border-top: 1px solid #000;
	 	width: 100%;
	 }
}

.outers_listing_news.defaults_t.ls_blog .items{
	max-height: 320px;
}

.foot .bottom_footer .t-copyrights p{
	a{
		color: #fff;
	}
}

.box_filter_location{
	.select2-selection__rendered {
		line-height: 60px !important;
	}

	.select2-selection {
		height: 60px !important;
	}

	.select2-container--default .select2-selection--single{
		border-color: #000;
		border-radius: 25px;
		padding-left: 1rem;
		color: grey;
		text-align: left;
	}
	clear: both;
}
.t_orange{
	color: #f45303 !important;
}

.outers_block_aldons{
	background-color: #ecedee;
	// border-top: 2px solid #000;
	h4{
		font-size: 28px;
		font-weight: 700;
		color: #f45303;
	}
	form{
		.form-group{
			label{
				padding-bottom: 0.3rem;
			}
			input.form-control,
			textarea.form-control{
				background-color: #fff;
				border: 1px solid #acaeb1;
				height: 45px;
				border-radius: 15px;
			}
			textarea.form-control{
				height: 170px;
			}
		}
		button.btns-submit-bt{
			width: 155px;
			height: 59px;
			background: url('../images/new/backs_n_btsubmit.jpg') no-repeat !important;
			color: #fff !important;
		}
	}
}

.outers_listing_news.defaults_t.ls_new_line_blog{
	.items{
		max-width: inherit;
		border-bottom: 2px solid #525151;
	    padding-bottom: 1.5rem;
	    margin-bottom: 2rem;
		.titles{
			font-size: 25px;
			font-weight: 700; color: #000;
			height: auto;
			margin-bottom: 0.2rem; 
		}
		.desc{
			span.dates{
				font-size: 13px;
				color: #000;
			}
			ol li,
			ul li,
			p{
				color: #4C4C4C;
				font-size: 15px;
			}
			p{
				margin-bottom: 1.5rem;
				line-height: 1.3;
			}
		}
	}
}

.subpage.defaults_static{
	.top_title_page.sub_toppage_title{
		h2.title_pg{
			color: #f45303;
			font-size: 30px;
			font-weight: 700;
			text-align: center;
			
			display: block;
			padding-top: 23px;
			padding-bottom: 23px;
			border-bottom: 2px solid #000;
			margin-bottom: 60px;
		}
		clear: both;
	}
}
.lists_data_promotions{
	margin: 0 60px;
}

.separete_right{
	background: url('../images/new/separates_footern_jut.jpg') top right no-repeat;
	// width: 2px;
	height: 100%;
}

.m-ins-myaccount{
	border: 0;
}

.bloc_breadcrumb.borders_bottom{
	border-bottom: 2px solid #000;
	ol.breadcrumb{
		margin-bottom: 10px;
	}
}
.c_orange{
	color: #f45302 !important;
}

.outers_fcs_wrapper{
	.carousel{
		.carousel-control{
			background: none;
			background-color: transparent;
			z-index: 10;
			top: 45%;
			opacity: 1;
			width: 60px;
		}
		.carousel-control:hover,
		.carousel-control:focus{
			opacity: 0.9;
		}
		.carousel-control.left{
			left: -20px;
		}
		.carousel-control.right{
			left: inherit;
			right: -31px;
		}
	}
}

// responsives
@media screen and (max-width: 1620px) {
	
}

@media screen and (max-width: 1450px) {

	header.head .top-menu ul li a{
		font-size: 25px;
	}
	.block_data_thum_products .items .info span{
		line-height: 1.2;
	}
	
}

@media screen and (max-width: 1370px) {

	.container{
		max-width: 100%;
		width: auto;
		padding: 0 15px;
	}

	.block_section_home_4 .call_me .descs{
		span{
			font-size: 17px;
		}
		h3{
			font-size: 23px;
		}
	}

	.social_media.boc_bottom{
		.lists_img_socmed{
			img{
				max-width: 80px;
			}
		}
	}
	.foot .tops_footer .items .category .item_category li a{
		font-size: 14px;
	}
	.foot .tops_footer .items .category h3, .foot .tops_footer .items .category h4{
		font-size: 20px;
	}

	.logo_foot{
		padding-right: 4rem;
		img{
			max-width: 100%;
		}
	}

	.block_data_thum_products .items{
		width: 163px;
		.info span{
			font-size: 15px;
		}
	}
}


// macbook
@media screen and (max-width: 1290px) {
	
	header.head .top-menu ul li a{
		font-size: 25px;
	}
	header.head .rights_header .b_search form .form-group input{
		width: 375px;
	}
	.block_data_thum_products .items{
		width: 163px;
	}

}
@media screen and (max-width: 1290px) {

	header.head .top-menu ul li a{
		font-size: 23px;
	}
	.subpage.defaults_static .top_title_page h2.title_pg{
		font-size: 20px;
		padding-top: 20px;
	}

}


// ipad
@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 985px) {
	
}

// mobile
@media screen and (max-width: 767px) {

	.navbar-default .navbar-brand{
		img{
			max-width: 260px !important;
		}
	}

	.navbar-default .navbar-brand{
		font-weight: 700;
		color: #000;
		font-size: 15px;
	}
	.block_section_home_2 .category .items .title h2{
		font-size: 23px;
	}
	.block_data_thum_products .items .info span{
		font-size: 14px;
	}

	.lgo_web_header{
		padding-right: 0;
	}

	.block_data_thum_products .items{
		width: 155px;
	}

	.block_data_thum_products ul li{
		.items{
			width: 100%;
		}
		float: left;
		width: 49%;
	}

	.block_section_home_3 .boxed{
		margin-bottom: 2rem;
		min-height: 185px;
	}

	.block_section_home_4 .call_me .descs{
		text-align: center;
	}
	.social_media.boc_bottom{
		margin-bottom: 3rem !important;
		.lists_img_socmed{
			img{
				max-width: 50px;
			}
			a{
				padding: 0 0.75rem;
			}
		}
	}

	.logo_foot{
		padding-right: 0;
		max-width: 220px;
		margin: 0 auto;
		display: block;
	}
	.foot .tops_footer .items .category h3, .foot .tops_footer .items .category h4{
		text-align: center;
	}
	.foot .tops_footer .login_register{
		padding-top: 2rem;
		text-align: center;
	}
	.foot .bottom_footer .t-copyrights p{
		font-size: 11px;
	}

	.icons_asistant{
		padding-top: 2rem;
		img{
			max-width: 100px;
		}
	}

	.box-form.tl-contact-form form .fright{
		float: left;
	}

	.block_section_home_4 .call_me{
		padding-bottom: 2rem;
	}
	.block_section_home_4 .col-md-6 {
	    min-height: inherit;
		.py-4 {
		    padding-top: 1rem;
		    padding-bottom: 1rem;
		}
	}
	.separete_right{
		background: none;
		border-bottom: 2px solid #aaabaf;
	}
	.icons_asistant{
		padding-top: 0;
		padding-bottom: 0.75rem;
	}
	.block_section_home_4 .call_me .descs span {
	    font-size: 20px;
	}
	.block_section_home_4 .call_me .descs h3 {
	    font-size: 25px;
	}

	.outers_fcs_wrapper{
		.carousel{
			.carousel-control{
				display: none;
			}
		}
	}

	.box_filter_location .select2-selection,
	.pLocationstore.middles_pgStatic form .form-group span,
	.pLocationstore.middles_pgStatic form select{
		width: 100% !important;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b{
		left: inherit !important;
		right: 5% !important;
	}
	
}
