.views_mobile.bx_text.social2{
	span{
		font-size: 17px;
		font-weight: 900;
		color: #000;
	}

	ul{
		padding-top: 0.5rem;
		li{
			display: block;
			padding: 0.3rem 0;
			text-align: left;
			a{
				i.fa{
					color: #000;
					font-size: 17px;
				}

				font-family: Lato,serif;
				font-size: 15px;
				font-weight: 400;
				color: #000;
			}
		}
		margin: 0px;
		margin-bottom: 0;
	}

	display: inline-block;
	clear: both;
}

.blocks_tofilter_ft{
	select{
		font-size: 13px;
		max-width: 240px;
		margin: 0 auto;
	}
}

section.block_bottom_home .insides .bx_text.social a{
	font-size: 18px;
}

.inline-block{
	vertical-align: middle;
	display: inline-block;
}
.pl-10{
	padding-left: 15px;
}
form.filters_det_kategori{
	label{
		padding-right: 10px;
		font-size: 10px;
		margin: 0; position: relative;
		top: 4px;
		font-size: 19px;
	}

	select.form-control{
		font-size: 15px;
		border-width: 2px;
		border-color: #929496;

		-moz-appearance:none; /* Firefox */
	    -webkit-appearance:none; /* Safari and Chrome */
	    appearance:none;

	    background: url('../images/icons_to_nbottoms.png') right center no-repeat;
	    // width: 17px;
	    // height: 15px;
	}

	select.form-control:hover,
	select.form-control:focus{
		border-color: #929496;
		text-decoration: none;
		outline: none;
		box-shadow: none;
	}

	padding-top: 15px;
	padding-right: 10px;
}

.outs_breadcrumbs{
	nav{
		ol.breadcrumb{
			li.breadcrumb-item{
				a{
					font-size: 20px;
					font-weight: 700;
					color: #2b2b2b;
				}
				font-size: 20px;
				font-weight: 700;
				color: #2b2b2b;
			}
			background: none;
			background-color: transparent;
			margin-bottom: 0;
			padding: 2rem 0 0;
		}
	}
	clear: both;
}

.m-ins-myaccount .basic-information {
	button{
		font-size: 18px;
	    font-weight: 700;
	    color: #fff;

	    -webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    border-radius: 8px;

	    padding-left: 0.8rem;
	    padding-right: 0.8rem;
	}
	a.forgot-password {
	    font-size: 20px;
	    font-weight: 700;
	    color: #676767;
	    text-decoration: none;
		display: inline-block;
		top: 0.4rem;
		position: relative;
	}
}
a {
    color: #6f6f6f;
    text-decoration: none;
}

.def_link_paginations{
	ul.pagination{
		margin-bottom: 0;
		display: flex;
		justify-content: center;
		li.page{
			a{
				color: #909090;
				font-size: 17px;
				font-weight: 700;
				background-color: transparent;
				border: 0px;
			}
		}
		li.page.selected{
			a{
				color: #000;
			}
		}
	}
}
.outers_listing_news.defaults_t .items.featured .desc .titles{
	height: auto;
}

.pt-0{
	padding-top: 0 !important;
}
.c_orange{
	color: #f45302;
}

.bdr_bottom_1,
.top_title_page.bdr_bottom_1{
	border-bottom: 2px solid #000;
}

.sub_title_30{
	font-size: 28px;
	b,strong{
	font-size: 28px;
	}
}
.mr-3{
	margin-right: 2rem;
}

@media screen and (max-width: 767px) {
	
	.lists_subCategory_dataLanding .items{
		width: auto;
		min-height: 270px;
		height: auto;
		margin: 0 0.5rem 0.8rem;
	}
	.lists_subCategory_dataLanding .items{
		.titles{
			padding: 1rem 0.3rem;
		}
	}
	
	.subpage.defaults_static .top_title_page h2.title_pg {
	    font-size: 17px !important;
	}
	.subpage.defaults_static .top_title_page{
		min-height: 45px;
	}
	.lists_subCategory_dataLanding .items .titles a{
		line-height: 1.15;
		font-size: 16px;
		display: block;
	}

	.inside_content.middle .pagination{
		display: flex;
		margin: 1rem auto;
		justify-content: center;
	}

	.subpage{
		.top_title_page{
			.container{
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
			.row.default{
				margin: 0px !important;
				[class*=span], [class*=col-xs], [class*=col-md], [class*=col-lg], [class*=col-sm]{
					padding: 0px !important;
				}
			}
		}
		clear: both;
	}

	.flot_filter_topsProducts{
		.bx_filters{
			select.form-control{
				border-radius: 0px;
				font-size: 13px;
				color: #000;
				border: 0px;
				box-shadow: none;
			}
			padding: 0 0.5rem;
		}
		margin: 1rem 0 0;
		padding: 0;
		border-top: 1px solid rgba(204,204,204, 0.5);
		.border-rights{
			border-right: 1px solid rgba(204,204,204, 0.5);
		}
	}

	.top_title_page.margin-bottom-40.pgn_product{
		margin-bottom: 15px !important;
	}

	.tops_footer{
		padding-top: 15px;
	}
	section.block_bottom_home{
		padding-bottom: 0rem !important;
	}

	section.block_bottom_home .insides .tops_tx ul li span{
		width: 27px;
		display: inline-block;
	}
	section.block_bottom_home .insides .tops_tx ul li{
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;
	}

	.blocks_dn_widths{
		max-width: 250px;
		display: block;
		margin: 0 auto;
		text-align: left;
	}
	.bx_text.social2 ul li span{
		display: inline-block;
		min-width: 25px;
	}
	section.block_bottom_home .insides .tops_tx p{
		padding-top: 30px;
	}

	.block_product_data_wrap .lists_product_data .items {
	    margin: 0 auto 10px;
	}

	.header-affixs{
		display: none !important;
	}

	.subpage.defaults_static.def_productDetail .bloc_detail_products .rights_cont .bloctn_detailtop .bloc3.boxs_formn_buying form .form-group{
		display: inline-block;
		label{
			font-size: 20px;
		}
	}

	.subpage.defaults_static.def_productDetail .bloc_detail_products .rights_cont .bloctn_detailtop .bloc2.block_price span small,
	.subpage.defaults_static.def_productDetail .bloc_detail_products .rights_cont .bloctn_detailtop .bloc2.block_price span b, 
	.subpage.defaults_static.def_productDetail .bloc_detail_products .rights_cont .bloctn_detailtop .bloc2.block_price span strong{
		font-size: 33px;
	}

	.hides_mobile{
		display: none;
	}

}

@media screen and (min-width: 1650px) {

	section.blocks_bottom_about{
		background-size: cover;
		background-position: top center; 
	}

}